@font-face {
    font-family: Collegia;
    src: url(../fonts/COLLEGIA.ttf);
  }

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0;
    font-family: 'Collegia';
    color: #000;
}

p {
    font-size: 1rem;
}


header {
    background-color: #24292E;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 10px rgba(140, 152, 164, .125)
}

nav {
    padding: 10px 0 10px 0;
}

nav>ul {
    padding: 0 0;
    margin: 0 0;
    display: inline-block;
    list-style: none;
}

nav>ul>li {
    padding-left: 20px;
    display: inline-block;
}

nav>ul>li>a {
    line-height: 3rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}

a.active {
    padding-bottom: 20px;
    border-bottom: 4px solid #4a90e2;
}

.teaser {
    width: 760px;
    padding: 20px;
    color: #21325b;
    background-color: rgba(33, 50, 91, .1);
    margin-bottom: 4rem;
    border: .0625rem solid #e7eaf3;
    border-radius: .3125rem;
}

/****************************************************/

aside {
    position: sticky;
    height: 100%;
    width: 16%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-right: 1px solid #e7eaf3;
}

aside ul {
    margin: 0 0;
    list-style: none;
    padding: 20px;
}

aside a {
    padding-top: 10px;
    text-decoration: none;
    font-size: 1rem;
    color: #495057;
    display: block;
}

a:hover {
    color: #4A90E2;
}

main > section:first-of-type {
    height: 210px;
    margin-top: 68px;
    text-align: center;
    background: url(../img/pattern.svg);
}

main > section:first-of-type img {
    max-width: 200px;
    padding-right: 100px;
}

section:nth-last-of-type(1) {
    padding: 2rem 10%;
    margin: -312px 10% 10% 16%;
}

img {
    border-radius: .3125rem;
}

article:not(:first-of-type) {
    max-width: 800px;
    border-bottom: 1px solid #e7eaf3;
    padding-bottom: 3rem;
}